/* header */

header, nav, .logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins";
    text-decoration: none;    
}

.logo{
    font-size: 30px;
    font-style: italic;
}

nav a{
    text-decoration: none;
}

header{
    width: 70%;
    margin: 0% 15%;
    margin-bottom: 25px;
}

header nav ul li{
    list-style-type: none;
    text-decoration: none;
}

header nav ul li a{
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-family: "Poppins"
}

nav a:hover{
    color: blue;
}

/* main */

.banniere{
    display: flex;
    width: 75%;
    height: 300px;
    align-items: center;
    margin: auto;
    border: 3px #187498 solid;
    border-radius: 20px;
}

.banniere h1,p{
    margin-left: 40px;
    color: rgb(0, 0, 0);
    font-family: "Poppins";
}

h2{
    text-align: center;
    font-family: "Poppins";
    padding: 30px 0px;
}

.service{
    width: 30%;
    padding: 0px 10px;
}

.service h3{
    color: black;
    text-align: center;
    font-family: "Poppins";
    padding: 2px 0px;
}

.service p{
    color: rgb(0, 0, 0);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: auto;
    padding: 0px 10px;
    text-align: justify;
    font-family: "Poppins";
    font-size: 12px;
}

.conteneur-service{
    display: flex;
    justify-content: center;
    width: 75%;
    margin: auto;
}

.a-propos h3{
    color: black;
    text-align: center;
    font-family: "Poppins";
    padding: 2px 5px;
}

.a-propos p{
    color: rgb(0, 0, 0);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: auto;
    padding: 0px 20px;
    text-align: justify;
    font-family: "Poppins";
}

.conteneur-a-propos{
    width:75%;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
}

img{
    display: flex;
    justify-content: center;
    width: 45%;
    margin: auto;
}

.a-propos{
    width: 50%;
    padding: 0px 10px;
}
.cercle{
    width: 155px;
    height: 155px;
    border-radius: 200px;
    background-color: gray;
    margin: auto;
}
.nous-contacter{
    width: 30%;
    padding: 0px 10px;
}
.nous-contacter h3{
    color: black;
    text-align: center;
    font-family: "Poppins";
}

.nous-contacter p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: auto;
    padding: 0px 10px;
    text-align: center;
    font-family: "Poppins";
}

.conteneur-nous-contacter{
    display: flex;
    justify-content: center;
    width: 75%;
    margin: auto;
    text-align: center;
}
a{
    text-decoration: none;
}


/* footer */
.copyright{
    background-color: gray;
    padding: 10px;
    margin-top: 30px;
}

.copyright p{
    text-align: center;
    font-family: "Poppins";
    color: white;
}
